<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="/fragments/general.html :: headerFiles"> </head>
 <link rel="stylesheet" type="text/css" href="/styles/main.css" />
 
 <body>
<header th:insert="/fragments/general.html :: header"> </header>
<h3> List of Products</h3>

<table id="tableAlign">
<tr>
<th>ProductCode</th>
<th>ProductBrand</th>
<th>Quantity In Hand</th>
<th>UnitPrice</th>
<th>Delete</th>

</tr>

<tr th:each="aProduct:${products}">
<td th:text="${aProduct.productCode}"></td>
<td th:text="${aProduct.productBrand}"></td>
<td th:text="${aProduct.quantityInHand}"></td>
<td th:text="${aProduct.unitPrice}"></td>
<td><a th:href="@{/admin/deleteProductData/}+${aProduct.getProductCode()}">Delete</a></td>
</tr>
 </table>
<br>
<p> <a href="/index" > Cancel</a>
<div th:replace="/fragments/general.html :: footer"></div>
 </body>
 </html>